$primary-color: #3498db;


body {
  background-color: $primary-color;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

h1 {
  color: white;
  margin-bottom: 20px;
}

.logo {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
}
